$rhap_theme-color: red !default;
$rhap_background-color: red !default;
$rhap_bar-color: #dddddd !default;
$rhap_time-color: #333 !default;
$rhap_font-family: inherit !default;

.rhap_container {
  
  font-family: $rhap_font-family;

  background-color: $rhap_background-color;

}

.rhap_time {
  color: $rhap_time-color;

}

.rhap_progress-bar {
  
  background-color: $rhap_bar-color;
 
}

.rhap_progress-filled {
 
  background-color: $rhap_theme-color;
 
}

.rhap_progress-bar-show-download {
  background-color: rgba($rhap_bar-color, 0.5);
}

.rhap_download-progress {

  background-color: $rhap_bar-color;

}

.rhap_progress-indicator {

  background: $rhap_theme-color;
 
  box-shadow: rgba($rhap_theme-color, .5) 0 0 5px;
}
.rhap_repeat-button {

  color: $rhap_theme-color;

}

.rhap_main-controls-button {

  color: $rhap_theme-color;

}

.rhap_volume-button {
 
  color: $rhap_theme-color;
 
}


.rhap_volume-bar {
 
  background: $rhap_bar-color;

}

.rhap_volume-indicator {

  box-shadow: rgba($rhap_theme-color, .5) 0 0 3px;
}

.rhap_volume-filled {
 
  background-color: $rhap_theme-color;

}
