@import "scrollbar.scss";
@import "arrows.scss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Open+Sans:wght@400;500&display=swap");
@import "icons.scss";
@import "animations.scss";
@import "buttons.scss";
@import "slideshow.scss";

$ultra-light-blue: rgb(233, 241, 253);
$light-blue: #d8dde3;
$off-black: #01142f;
$dark-blue: #002b67;
$dark-blue-2: #023885;
$light-black: #4e4e4e;
$cornflower-blue: #6495ed;
$blue: #1e90ff;
$light-grey: #f5f5f5;
$dark-grey: #7C8188;
$primary-color: #50c878;
$green: #50c878;
$border-color: #eee;
$bg-color: #f9f9f9;
$error-color: red;
$dark-red: #dc143c;
$red: #dc143c;
$light-red: #fdccd6;
$very-light-blue: #f8fbff;
$super-green: #3a4656;
$offGrey: #4f5b6c;
$grey: #b9bfc7;
a.visit-link:visited {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-red;
  }
}


.main-holder{

  width: 100%;
  margin: 0 0;
  overflow-x: hidden;
  @media only screen and (max-width: 1199px) {
    margin: 0 0;
  }
}

.k{
  min-height:100vh;
  padding-top: 160px;
}
.hover-grey{
  border-radius: 50%;
  width:26px;
  height:26px;
  transition: background-color .25s ease;
  &:hover {
    background-color: $light-blue;
  }
  
}
.grey-line-vert{
  background-color: $dark-grey;
  height:24px;
  width: 1px;

}

.lt-grey-line{
  height: 1px;
  width:100%;
  background-color: $light-blue;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}


// colors 
.light-grey2{
  color: $grey !important;
}

.white {
  color: #fff !important;
}
.x
{color:red;}
.red {
  color: $dark-red !important;
}

.light-red {
  color: $light-red;
}
.contrast {
  color: $light-black !important;
}.black {
  color: #000;
}

.blue {
  color: $blue;
}
.off-black {
  color: $off-black;
}
.range{
  max-width:200px;
}
.grey-line{
  width:100%;
  height:1px;
  background-color: $grey;
}
body {
  background: $light-blue;
}
p {
  font-size: 18px;
  line-height: 1.5;
  color: $off-black;
}
.lg-bold {
  font-size: 26px;
  font-weight: 500;
}

.semi-lg-bold {
  font-size: 22px;
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.md-bold {
  font-weight: 600;
  font-size: 18px;
}
.semi-bold {
  font-weight: 600;
}
.md-bold {
  font-size: 18px;
  font-weight: 700;
}

.light {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Archivo;
}
.text-shadow {
  text-shadow: 3px 8px 7px rgba(0, 0, 0, 0.61);
}

.text-shadow-green {
  text-shadow: 3px 8px 7px rgba(80, 200, 120, 0.61);
}
.text-shadow-red {
  text-shadow: 3px 8px 7px rgba(220, 20, 60, 0.61);
}
.markdown {
  ul {
    list-style: none;

    & p::before {
      content: "•";
      color: $green;
      margin-right: 8px;
      font-weight: bold;
    }
  }
  p {
    margin-bottom: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
    margin-top: 32px;
    padding-bottom:4px;
    border-bottom: 1px solid $grey;
  }

  img {
    max-width: 100%;
    background: red;
    display: block;
    margin-bottom: 16px;
  }
  strong {
    border-bottom: 2px solid black;
  }
}
.markdown-2 {
  ul {
    list-style: none;

    & p::before {
      content: "•";
      color: $green;
      margin-right: 8px;
      font-weight: bold;
    }
  }
  p {
    margin-bottom: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
    margin-top: 32px;
    padding-bottom:4px;
    border-bottom: 1px solid $grey;
  
  }

  img {
    max-width: 100%;
    background: red;
    display: block;
    margin-bottom: 16px;
  }
  
}
.inline-block {
  display: inline-block;
}
.circle {
  border-radius: 50%;
}
.text-wrap {
  word-wrap: break-word;
}
.box-shadow {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.box-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.rounded-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.border-red {
  border: 1px solid $red !important;
}
.border-green {
  border: 1px solid $green;
}
.z-index-5 {
  z-index: 5;
}

.highlight-red {
  background: $red;
  display: inline-block;
  padding-right: 4px;
}
.highlight-green {
  background: $primary-color;
  display: inline-block;
  padding-right: 4px;
}

.mar-one {
  margin-bottom: 32px;
}
.mar-bottom-64 {
  margin-bottom: 64px;
}
.mar-top-8 {
  margin-top: 8px;
}
.mar-top-16 {
  margin-top: 16px;
}

.mar-top-32 {
  margin-top: 32px;
}

.mar-48 {
  margin-bottom: 48px;
}

.ssm-spacer-bot-res {
  margin-bottom: 64px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 32px;
  }
}

.sm-spacer-bot-res {
  margin-bottom: 128px;
}

.ssm-spacer {
  margin-bottom: 64px;
}
.sm-spacer {
  margin-bottom: 128px;
}
.md-spacer {
  margin-bottom: 156px;
}

.section {
  margin-bottom: 196px !important;
}
.bold-blue {
  font-weight: 500;
  background-color: $dark-blue;
}
.bold {
  font-weight: 600;
}
.bg {
  background-image: url("/public/underWork.gif");
  width: 80vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @media only screen and (max-width: 1199px) {
    width: 100vw;
  }
}
.small {
  font-size: 14.85px;
}
// Laptop view, base px 21, multiplier of 1.414
@media only screen and (min-width: 1201px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 5.653rem;
  }
  h2 {
    font-size: 3.998rem;
  }
  h3 {
    font-size: 2.827rem;
  }
  h4 {
    font-size: 1.9993rem;
  }
  h5 {
    font-size: 1.414rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 18px;
  }
}
// Tablet view, base px 18, multiplier of 1.25
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .small {
    font-size: 12.73px;
  }
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 3.998rem;
  }
  h2 {
    font-size: 2.441rem;
  }
  h3 {
    font-size: 1.953rem;
  }
  h4 {
    font-size: 1.563rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
}
// Mobile view, base px 18, multiplier of 1.25
@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 3.052rem;
  }
  h2 {
    font-size: 2.441rem;
  }
  h3 {
    font-size: 1.953rem;
  }
  h4 {
    font-size: 1.563rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 16px;
  }
}

h1 {
  font-size: 3.052rem;
  color: $dark-blue;
  font-weight: bold;
}
h2 {
  font-size: 2.441rem;
  color: $dark-blue;
}
h3 {
  font-size: 1.953rem;
  color: $dark-blue;
}
h4 {
  font-size: 1.563rem;
  color: $dark-blue;
}
h5 {
  font-size: 1.25rem;
  color: $dark-blue;
}
h6 {
  color: $dark-blue;
}
a {
  text-decoration: none;
  font-weight: 500;
  &:hover {
    p {
      text-decoration: underline;
    }
  }
}
.link {
  color: $error-color;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.link-blue {
  color: $blue;
  text-decoration: underline;
  font-weight: 600;
}
.text-align-center {
  text-align: center;
}

.icon {
  cursor: pointer;
  * {
    transition: color 0.25s ease;
  }
  &:hover {
    * {
      color: $light-blue;
    }
  }
}
.hero-icon-med {
  width: 40px;
  height: 40px;
}

.hero-icon-sm {
  width: 24px;
  height: 24px;
}
.icon-ssm {
  font-size: 20px;
}
.icon-sm {
  font-size: 24px;
}
.icon-med {
  font-size: 30px;
}

.icon-lg {
  font-size: 40px;
  transition: color 0.5s ease;
}
.icon-xl {
  font-size: 56px;
}
.sm-icon-circle {
  width: 48px;
  height: 48px;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid $dark-blue;
  transition: background 0.25s ease;
  &:hover {
    background: $dark-blue;

    .icon-blue {
      color: $primary-color;
    }
  }
  &:active {
    background: $desat-green;
    .icon-lg {
      color: $desatDarkBlue;
    }
  }
}
.lg-icon-circle {
  width: 64px;
  height: 64px;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid $dark-blue;
  transition: background 0.25s ease;
  &:hover {
    background: $dark-blue;

    .icon-blue {
      color: $primary-color;
    }
  }
  &:active {
    background: $desat-green;
    .icon-lg {
      color: $desatDarkBlue;
    }
  }
}

.icon-white {
  * {
    transition: color 0.25s ease, transform 1s ease;
    color: $light-grey;
  }
}

.text-lg {
  font-size: 18px;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 2px solid $dark-blue;
}
.title {
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 3rem;
  display: inline-block;
  border: 2px solid $dark-blue;
  background-image: linear-gradient(
    to right,
    $very-light-blue,
    $ultra-light-blue
  );
  @media only screen and (max-width: 600px) {
    padding: 8px 16px;
  }
}
.main-title {
  width: 90%;
  margin: 0 auto 3rem;
  text-align: center;
  border-bottom: 2px solid $dark-blue;
}
.sub-title {
  width: 90%;
  margin: 0 auto 1rem;
  text-align: center;
  border-bottom: 2px solid $dark-blue;
}

.hover-grey {
  &:hover {
    background-color: $light-blue;
  }
  &:active {
    background-color: $grey;
  }
}
.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}
.flex-row {
  flex-direction: row !important;
}

.space-between {
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.flex-one {
  flex: 1;
}
.flex-no-shrink {
  flex-shrink: 0;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end !important;
}
.row {
  flex-direction: column;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center !important;
}
.justify-start{
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.underline-hover {
  &:hover {
    text-decoration: underline;
  }
}
.underline{
  text-decoration: underline;
}

.black-border-grey-fill{
  
  padding: 8px;
  background-color: $light-grey;
  
}
.report-bottom-right {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.space-between {
  justify-content: space-between;
}
.content {
  padding-top: 6rem;
}
.center-inline {
  text-align: center;
}
.container {
  overflow-y: hidden;
  background-color: white;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 6rem 10% 6rem 10%;

  width: 80%;
  @media only screen and (max-width: 1199px) {
    width: 100%;
    margin: 70px 0 0 0;
    padding: 6rem 1rem;
  }
}
.post-container {
  overflow-y: hidden;
  background-color: white;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 5rem 0;

  width: 100%;
  @media only screen and (max-width: 1199px) {
    margin: 70px 0 0 0;
    padding: 6rem 1rem;
  }
}
.click-back {
  position: absolute;
  right: 16px;
  top: 96px;
}
.click-back-top {
  position: absolute;
  right: 16px;
  top: 16px;
}

.yt-holder {
  display: flex;
  justify-content: center;
}

.heart-relative {
  color: $light-blue;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.heart {
  color: $light-blue;

  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 188px;
  top: 103px;

  flex-direction: column;
}

.analytic-box {
  background: #fff;
  padding: 4px;
  border: 1px solid $grey;
  border-radius: 8px;
  display: flex;
  align-items: center;
  p {
    margin-left: 8px;
  }
}
.likes {
  position: absolute;
  right: 16px;
  top: 180px;
}
.views {
  position: absolute;
  right: 16px;
  top: 230px;
}
//233 241 253 darker
// 248 251 255 lighter

.share-absolute {
  //border: 1px solid $dark-blue;
  border-radius: 16px;
  padding: 4px 8px;
  cursor: pointer;
}
.share-absolute-cont {
  position: absolute;
  right: 16px;
  top: 280px;
  z-index:1;
  &:hover {
    .share-popup {
      display: flex;
    }
  }
}
.share-popup {
  z-index: 1;
  padding: 4px 8px;
  background: #fff;
  margin-top: 4px;
  margin-left: 6px;
  position: absolute;
  border: 1px solid $grey;
  opacity: 0.75;
  display: none;
  animation-name: opacity-75;
  animation-duration: 0.25s;
}

.real-heart-relative {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $light-blue;
  background: #fff;
  cursor: pointer;
  &:hover {
    background-color: $light-red;
  }
}
.real-heart {
  position: absolute;
  top: 104px;
  right: 112px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $light-blue;
  background: #fff;
  cursor: pointer;
  &:hover {
    background-color: $light-red;
  }
}

.cursor {
  cursor: pointer;
}
.loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $dark-blue;
  opacity: 0.2;
  left: 0;
  z-index: 5; 
 

}
.msg-box{
  z-index: 500;
  background-color: #fff;
  padding:16px;
  left: 50%;
  position: fixed;
  top:50%;
  transform: translate(-50%,-50%);
}
.center-fixed {
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 50%;
}
.save-cont {
  border: 1px solid $grey;
  border-radius: 8px;
  display: flex !important;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  p {
    margin-left: 16px;
  }
}

.reg-cont-flex {
  border: 1px solid $grey;
  border-radius: 8px;
  display: inline-flex !important;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  &:hover {
    border: 1px solid $dark-blue;
  }
}
.save-popup {
  position: absolute;
  left: -50%;
  background: #fff;
  border-radius: 16px;
  border: 1px solid $grey;
  padding: 12px 12px 8px 12px;
  min-width: 250px;
  z-index: 1;
}

.popup {
  z-index: 1;
  background: #fff;
  border-radius: 16px;
  border: 1px solid $grey;
  padding: 8px;
  position: absolute;
  right: -10%;
  max-width: 160px;
  width: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  bottom: 85%;
  .popup-field {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 6px;
    border-radius: 16px;
    &:hover {
      border-bottom: 1px solid $grey;
      background-color: $ultra-light-blue;
    }
  }
}
.box {
  border: 1px solid $off-black;
  display: inline-block;
  margin: 0 auto;
  padding: 8px;
  background-color: $very-light-blue;
}
.box-light {
  padding: 4px 8px;
  background-color: $very-light-blue;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 8px;
}

.box-fancy {
  border: 8px solid $ultra-light-blue;
  border-style: outset;
  background: rgb(233, 241, 253);
  background: linear-gradient(
    90deg,
    rgba(233, 241, 253, 1) 0%,
    rgba(255, 255, 255, 1) 51%,
    rgba(233, 241, 253, 1) 100%
  );
}

.box-light-inverse {
  background-color: $very-light-blue;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 8px;
}
.light-grey {
  color: $light-blue !important;
}
.heart-active {
  border: 1px solid $dark-red;
}
.mde-preview {
  background-color: white;
}
.mde-text {
  background-color: $very-light-blue !important;
  &:focus {
    background-color: white !important;
  }
}
.mde-preview-content {
  img {
    max-width: 100%;
  }
}
.input-form {
  margin-top: 1rem;
  border: 1px solid black;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  padding: 5%;
}
.line-span {
  height: 1px;
  background-color: $dark-blue;
  width: 100%;
}
.inline{display:inline;}
.form-errors {
  margin-bottom: 32px;
  p {
    color: $dark-red;
  }
}
.black-line{
  height: 1px;
  width: 100%;
  background-color: $off-black;
}
.blue-line {
  height: 2px;
  background-color: $dark-blue;
  width: 100%;
}
form {
  max-width: 496px;
  h4 {
    margin-bottom: 0.5rem;
  }
  .form-line {
    display: flex;
    justify-content: space-between;
  }

  .line {
    margin-bottom: 1.5rem;
  }
  textarea {
    resize: none;
    width: 100%;
    height: 240px;
    border: none;
    border-radius: 0.25rem;
    background-color: $ultra-light-blue;
    font-size: 16px;
    padding: 1rem;
    outline: none;
    &:focus {
      background-color: $very-light-blue;
      border: 1px solid #1e90ff;
    }
  }
}
.fake-form {
  textarea {
    resize: none;
    width: 100%;
    height: 240px;
    border: none;
    border-radius: 0.25rem;
    background-color: $ultra-light-blue;
    font-size: 16px;
    padding: 1rem;
    outline: none;
    &:focus {
      background-color: $very-light-blue;
      border: 1px solid #1e90ff;
    }
  }
}

input {
  background-color: $ultra-light-blue;
  font-size: 16px;
  padding: 5px;
  border-radius: 0.25rem;
  border: none;

  height: 48px;
  padding: 1rem;
  border: 1px solid transparent;
  &:focus {
    outline: none;

    background-color: $very-light-blue;
    border: 1px solid #1e90ff;
  }
}

input[type="date"] {
  font-size:14px;
  padding:4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

.hover-remove {
  &:hover {
    p {
      text-decoration: none;
    }
  }
}
.center-inline {
  text-align: center;
}
form.paypal {
  margin: 96px auto 0;
  max-width: none;

  input {
    background-color: white;
    border: 1px solid black;
    width: auto;
    height: auto;
  }
}

/*
textarea {
  background-color: $ultra-light-blue;
  font-size: 16px;
  &:not(:placeholder-shown) {
    background-color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
    background-color: #fff;
  }
}*/
.icon-blue {
  color: $dark-blue;
}

.grey {
  color: $offGrey !important;
}
.lt-blue-hover {
  &:hover {
    background-color: $light-blue;
  }
}
.lt-blue-select {
  background-color: $ultra-light-blue;
}
.lrg-icon {
  width: 40px;
  height: 40px;
  color: $dark-blue;
}

.dark-grey{
  color: $dark-grey;
}
.dark-blue {
  color: $dark-blue;
}
.icon-green {
  width: 30px;
  height: 30px;
  color: $primary-color;
  transition: color 0.25s ease, transform 0.5s ease;
}
.main-icon {
  width: 30px;
  flex-shrink: 0;
  color: $dark-blue;
}
.green {
  color: $primary-color;
}

.icon-grey {
  color: $light-blue;
  width: 30px;
}
.icon-green {
  color: $primary-color;
}
.submit-btn {
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  font-weight: 600;
  font-size: 20px;
  width: 10rem;
  height: 5rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background: #dc143c;
  color: white;
  h3 {
    color: $light-grey;
  }
  &:hover {
    background-color: $ultra-light-blue;
    h3 {
      color: #dc143c;
    }
  }
  &:active {
    box-shadow: none;
  }
}

.text-box {
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.video-preview {
  border: 1px solid $dark-blue;
  display: inline-block;
  padding: 32px;

  margin-bottom: 32px;
  background: #fff;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: box-shadow 0.25s ease;
  &:hover {
    box-shadow: none;
    h3 {
      text-decoration: underline;
    }
  }
}

// marging and padding

.padding-16{
  padding: 16px;
}
.px-16{
  padding: 0 16px;
}

.padding-8{
  padding: 8px;
}

.mar-left-4 {
  margin-left: 4px;
}

.mar-left-8 {
  margin-left: 8px;
}
.mar-left-12 {
  margin-left: 12px;
}
.mar-left-16 {
  margin-left: 16px;
}
.mar-left-32 {
  margin-left: 32px;
}
.mar-bottom-4 {
  margin-bottom: 4px;
}
.mar-bottom-8 {
  margin-bottom: 8px;
}

.mar-bottom-16 {
  margin-bottom: 16px;
}

.mar-bottom-one {
  margin-bottom: 32px;
}
.mar-bottom-32 {
  margin-bottom: 32px;
}

.mar-right-4 {
  margin-right: 4px;
}

.mar-right-8 {
  margin-right: 8px;
}

.mar-right-16 {
  margin-right: 16px;
}

.mar-right-12 {
  margin-right: 12px;
}

.mar-right-32 {
  margin-right: 32px;
}
.flex-break {
  display: flex;
  gap: 5%;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
.flex-wrap{
  flex-wrap: wrap;
}
.padding-hor-md {
  padding: 0 10px;
}
// Dropdown
.form {
  border: 1px solid $border-color;
  padding: 40px;

  &__group {
    margin-bottom: 20px;

    &:focus {
      outline: 0;
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}
.hide-nav {
 
    opacity: 0;
 
}
.error {
  font-size: 12px;
  padding: 5px 0;
  color: $error-color;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}
.dropdown {
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px 0 10px;
    font-size: 14px;
    border: 1px solid $border-color;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &::after {
      top: calc(50% - 2px);
      right: 10px;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-top-color: #000;
      border-width: 4px;
      margin-left: -4px;
    }

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    background-color: #fff;
    z-index: 5;

    &_items {
      max-height: 210px;

      overflow-y: auto;
    }

    &_search {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $border-color;
      padding: 12px;
      outline: 0;
      background-color: $bg-color;
    }

    &_item {
      padding: 10px;
      border-bottom: 1px solid $border-color;
      font-size: 14px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: $border-color;
      }

      &.selected,
      &.selected:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.delete {
  &:hover {
    background-color: $light-blue;
  }
}
@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .mobile-sm {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 599px) {
  .mobile {
    display: none !important;
  }
}
.tag-box {
  border: 1px solid $dark-blue;
  background-color: $grey;
  padding: 16px 16px 0 16px;
}
.tag {
  display: inline-flex;
  align-items: center;
  background: $off-black;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 16px;
  height: 35px;
  margin-bottom: 16px;
  p {
    color: $ultra-light-blue;
    margin-right: 8px;
  }
}
.white-x {
  background: $ultra-light-blue;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:hover {
    background-color: $grey;
  }
}
html{
  scroll-behavior: smooth;
}
.mobile-icon {
  font-size: 24px;
}
.hide-400 {
  @media only screen and (max-width: 400px) {
    display: none;
  }
}

.hide-1000 {
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.hide-360{
  @media only screen and (max-width: 360px) {
    display: none !important;
  }
}
.hide-310 {
  @media only screen and (max-width: 310px) {
    display: none !important;
  }
}
.hide-260 {
  @media only screen and (max-width: 260px) {
    display: none !important;
  }
}
.hide-300 {
  @media only screen and (max-width: 300px) {
    display: none;
  }
}
.hide-240 {
  @media only screen and (max-width: 240px) {
    display: none !important;
  }
}

.hide-280 {
  @media only screen and (max-width: 280px) {
    display: none !important;
  }
}

button {
  padding: 0;
  border: none;
  background: none;
}
.sign-in-box {
  background: #fff;
  padding: 8px;
  border: 1px solid $grey;
}
.shallow-cont {
  border: 1px solid $grey;
  padding: 16px;
}

.popup-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: $dark-blue;
  opacity: 0.5;
  z-index: 1;
}

.popup-cont {
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 20%;
  align-items: flex-start;
}

.user-profile {
  border-top: 1px solid $off-black;
  border-bottom: 1px solid $off-black;
  padding: 32px;
  background: #fff;
}

.accordion-content {
  overflow-y: auto;
  transition: height 0.5s ease;
}
