$slider: #50c878;
.slider {
  overflow: hidden;
  width: 800px;
  height: 500px;
  
}
.slides {
  width: 500%;

  height: 500px;
  display: flex;
}
.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}
.slides input {
  display: none;
}
.navigation-manual {
  position: relative;
 
  margin-top: -40px;
  max-width: 1000px;
  width:100vw;
  display: flex;
  justify-content: center;
  z-index:5;
 
 .flex {
  label{
    margin-bottom: 8px;
   
  }
 }
  
}

.navigation-auto {
  position: absolute;
  display: flex;
  max-width:1000px;
  width:100%;
  justify-content: center;
  margin-top: 460px;
  z-index:5;
  
}

.manual-btn {
  border: 2px solid $slider;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  
  &:not(:last-child) {
    margin-right: 40px;
    &:hover {
      background: $slider;
    }
  }
}
#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -50%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}


.navigation-auto .flex div {
  border: 2px solid $slider;
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto .flex div:not(:last-child) {
  margin-right: 40px;
}


#radio1:checked ~ .nav-auto-holder .navigation-auto .flex .auto-btn1 {
  background: $slider;
}

#radio2:checked ~ .nav-auto-holder .navigation-auto .flex .auto-btn2 {
  background: $slider;
}

#radio3:checked ~ .nav-auto-holder .navigation-auto .flex .auto-btn3 {
  background: $slider;
}

#radio4:checked ~ .nav-auto-holder .navigation-auto .flex .auto-btn4 {
  background: $slider;
}

#radio5:checked ~  .nav-auto-holder  .navigation-auto .flex .auto-btn5 {
  background: $slider;
}#radio6:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn6 {
  background: $slider;
}#radio7:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn7 {
  background: $slider;
}#radio8:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn8 {
  background: $slider;
}#radio9:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn9 {
  background: $slider;
}#radio10:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn10 {
  background: $slider;
}#radio11:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn11 {
  background: $slider;
}#radio12:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn12 {
  background: $slider;
}
#radio13:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn13 {
  background: $slider;
}#radio14:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn14 {
  background: $slider;
}#radio15:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn15 {
  background: $slider;
}#radio16:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn16 {
  background: $slider;
}#radio17:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn17 {
  background: $slider;
}#radio18:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn18 {
  background: $slider;
}
#radio19:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn19 {
  background: $slider;
}#radio20:checked ~  .nav-auto-holder .navigation-auto .flex .auto-btn20 {
  background: $slider;
}


