@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text--primary {
        @apply text-blue-950;
    }

    .text--secondary {
        @apply text-zinc-50;
    }

    .text--tertiary {
        @apply text-yellow-300;
    }

    .text-primary-hover {
        &:hover {
            @apply text-blue-500;

        }
    }

    .link--secondary {
        @apply text-blue-500;
        @apply cursor-pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .border--primary {
        @apply border-blue-200;
    }

    .border--secondary {
        @apply border-blue-950;
    }

    .bg-light {
        @apply bg-blue-50 !important;
    }

    .bg-dark {
        @apply bg-blue-950 !important;

        & h1, h2, h3, h4, h5, p {
            @apply text--secondary;
        }

        & .link- {
            transition: all .25s ease;

            &:hover {
                @apply text--tertiary;
            }
        }
    }
}

body {
    @apply bg-light;
}

h1, h2, h3, h4, h5 {
    @apply text--primary;
}

p {
    @apply res-text-base;
    @apply text-slate-950;
}

@layer utilities {
    .res-text-xs {
        @apply text-xs md:text-sm;
    }

    .res-text-sm {
        @apply text-sm md:text-base;
    }

    .res-text-base {
        @apply text-base md:text-lg;
    }

    .res-text-lg {
        @apply text-lg md:text-xl;
    }

    .res-text-xl {
        @apply text-xl md:text-2xl;
    }

    .res-heading-xs {
        @apply text-base sm:text-lg md:text-xl;
    }

    .res-heading-sm {
        @apply text-lg sm:text-xl md:text-2xl;
    }

    .res-heading-base {
        @apply text-xl sm:text-2xl md:text-3xl;
    }

    .res-heading-lg {
        @apply text-2xl sm:text-3xl md:text-4xl;
    }

    .res-heading-xl {
        @apply text-3xl sm:text-4xl md:text-5xl;
    }

    .res-heading-2xl {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }
}

.text-renderer {
    p {
        margin-bottom: 8px;
    }

    @media only screen and (max-width: 600px) {
        p {
            margin-bottom: 16px;
        }
    }

    h3 {
        @apply res-heading-xs;
        @apply font-bold;
        margin-bottom: 16px;
    }
}

label:has(input:not(:placeholder-shown)) {
    @apply bg-slate-50;
    @apply border;
    @apply border-blue-700;
}

input:not(:placeholder-shown).input, textarea:not(:placeholder-shown) {
    @apply bg-slate-50;
    @apply border;
    @apply border-blue-700;
}

