@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
$ultra-light-blue: #e9f1fd;
$light-blue: #d8dde3;
$dark-blue: #002b67;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background: $light-blue;
}
p {
  line-height: 1.5;
}
.lg-bold {
  font-size: 26px;
  font-weight: 500;
}
.md-bold {
  font-weight: 600;
  font-size: 18px;
}
.semi-lg-bold {
  font-size: 22px;
  font-weight: 600;
}
h1 {
  font-size: 2.2rem;
  color: $dark-blue;
  font-weight: bold;
}
h2 {
  color: $dark-blue;
}
h3 {
  color: $dark-blue;
}
h4 {
  color: $dark-blue;
}
a {
  text-decoration: none;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

.icon {
  cursor: pointer;
  * {
    transition: color 0.25s ease;
  }
  &:hover {
    * {
      color: $light-blue;
    }
  }
}

.text-lg {
  font-size: 18px;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 2px solid $dark-blue;
}
.title {
  padding: 5px 20px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  background-color: $ultra-light-blue;
  margin-bottom: 2rem;
  display: inline-block;
}
.main-title {
  width: 90%;
  margin: 0 auto 3rem;
  text-align: center;
  border-bottom: 2px solid $dark-blue;
}
.sub-title {
  width: 90%;
  margin: 0 auto 1rem;
  text-align: center;
  border-bottom: 2px solid $dark-blue;
}

.flex-one {
  flex: 1;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}

.container {
  background-color: white;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  border-radius: 0.5rem;
  padding: 20px;
}

.input-form {
  margin-top: 1rem;
  border: 1px solid black;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  padding: 5%;
}

input {
  border: 1px solid black;
  background-color: $ultra-light-blue;
  font-size: 16px;
  padding: 5px;
  &:not(:placeholder-shown) {
    background-color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
    background-color: #fff;
  }
}

.submit-btn {
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px;
  display: block;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background: #dc143c;
  color: white;
  &:hover {
    background-color: $ultra-light-blue;
    color: #dc143c;
  }
  &:active {
    box-shadow: none;
  }
}
