@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
$ultra-light-blue: #e9f1fd;
$light-blue: #d8dde3;
$dark-blue: #002b67;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background: $light-blue;
}
p {
  line-height: 1.5;
}
.lg-bold {
  font-size: 26px;
  font-weight: 500;
}
h1 {
  font-size: 2.2rem;
  color: $dark-blue;
  font-weight: bold;
}
h2 {
  color: $dark-blue;
}
h3 {
  color: $dark-blue;
}
h4 {
  color: $dark-blue;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.icon {
  cursor: pointer;
  * {
    transition: color 0.25s ease;
  }
  &:hover {
    * {
      color: $light-blue;
    }
  }
}

.text-lg {
  font-size: 18px;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 2px solid $dark-blue;
}
.title {
  padding: 5px 20px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  background-color: $ultra-light-blue;
  margin-bottom: 2rem;
  display: inline-block;
}

.flex-one {
  flex: 1;
}
