@import "scrollbar.scss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&family=Open+Sans:ital,wght@0,400;0,500;1,300&display=swap");
$ultra-light-blue: #e9f1fd;
$light-blue: #d8dde3;
$off-black: #01142f;
$dark-blue: #002b67;
$light-black: #4e4e4e;
$cornflower-blue: #6495ed;
$blue: #1e90ff;
$light-grey: #f5f5f5;
$primary-color: #009e6c;
$border-color: #eee;
$bg-color: #f9f9f9;
$error-color: red;
$dark-red: #dc143c;
$very-light-blue: #f8fbff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
body {
  background: $light-blue;
}
p {
  font-size: 18px;
  line-height: 1.5;
  color: $off-black;
}
.lg-bold {
  font-size: 26px;
  font-weight: 500;
}

.semi-lg-bold {
  font-size: 22px;
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.md-bold {
  font-weight: 600;
  font-size: 18px;
}
.semi-bold {
  font-weight: 600;
}
.md-bold {
  font-size: 18px;
  font-weight: 700;
}
.contrast {
  color: $light-black;
}
.light {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Archivo;
}
.red {
  color: $dark-red;
}
.bg {
  background-image: url("../public/underWork.gif");
  width: 80vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @media only screen and (max-width: 1199px) {
    width: 100vw;
  }
}

@media only screen and (min-width: 1201px) {
  html {
    font-size: 21px;
  }
  h1 {
    font-size: 5.653rem;
  }
  h2 {
    font-size: 3.998rem;
  }
  h3 {
    font-size: 2.827rem;
  }
  h4 {
    font-size: 1.9993rem;
  }
  h5 {
    font-size: 1.414rem;
  }
  p {
    font-size: 21px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 3.998rem;
  }
  h2 {
    font-size: 2.441rem;
  }
  h3 {
    font-size: 1.953rem;
  }
  h4 {
    font-size: 1.563rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 3.052rem;
  }
  h2 {
    font-size: 2.441rem;
  }
  h3 {
    font-size: 1.953rem;
  }
  h4 {
    font-size: 1.563rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  p {
    font-size: 18px;
  }
}

h1 {
  font-size: 3.052rem;
  color: $dark-blue;
  font-weight: bold;
}
h2 {
  font-size: 2.441rem;
  color: $dark-blue;
}
h3 {
  font-size: 1.953rem;
  color: $dark-blue;
}
h4 {
  font-size: 1.563rem;
  color: $dark-blue;
}
h5 {
  font-size: 1.25rem;
}
a {
  text-decoration: none;
  font-weight: 500;
  &:hover {
    p {
      text-decoration: underline;
    }
  }
}
.link {
  color: $error-color;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.align-center {
  text-align: center;
}

.icon {
  cursor: pointer;
  * {
    transition: color 0.25s ease;
  }
  &:hover {
    * {
      color: $light-blue;
    }
  }
}

.icon-white {
  * {
    transition: color 0.25s ease, transform 1s ease;
    color: $light-grey;
  }
}

.text-lg {
  font-size: 18px;
  font-weight: 500;
}

.border-bottom {
  border-bottom: 2px solid $dark-blue;
}
.title {
  padding: 5px 20px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  background-color: $ultra-light-blue;
  margin-bottom: 2rem;
  display: inline-block;
}
.main-title {
  width: 90%;
  margin: 0 auto 3rem;
  text-align: center;
  border-bottom: 2px solid $dark-blue;
}
.sub-title {
  width: 90%;
  margin: 0 auto 1rem;
  text-align: center;
  border-bottom: 2px solid $dark-blue;
}

.flex-one {
  flex: 1;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}

.container {
  background-color: white;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  border-radius: 0.5rem;
  padding: 20px;
  margin: 0 10% 6rem 10%;
  width: 80%;
  @media only screen and (max-width: 1199px) {
    width: 100%;
    margin: 0;
  }
}

.input-form {
  margin-top: 1rem;
  border: 1px solid black;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  padding: 5%;
}
form {
  max-width: 496px;
  h4 {
    margin-bottom: 0.5rem;
  }
  .form-line {
    display: flex;
    justify-content: space-between;
  }
  .line {
    margin-bottom: 1.5rem;
  }
  textarea {
    resize: none;
    width: 100%;
    height: 240px;
    border: none;
    border-radius: 0.25rem;
    background-color: $ultra-light-blue;
    font-size: 16px;
    padding: 1rem;
    &:focus {
      outline: none;
      background-color: $very-light-blue;
      border: 1px solid #1e90ff;
    }
  }
}

input {
  background-color: $ultra-light-blue;
  font-size: 16px;
  padding: 5px;
  border-radius: 0.25rem;
  border: none;
  width: 200px;
  height: 48px;
  padding: 1rem;
  &:not(:placeholder-shown) {
  }
  &:focus {
    outline: none;

    background-color: $very-light-blue;
    border: 1px solid #1e90ff;
  }
}
/*
textarea {
  background-color: $ultra-light-blue;
  font-size: 16px;
  &:not(:placeholder-shown) {
    background-color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
    background-color: #fff;
  }
}*/
.icon-blue {
  color: $dark-blue;
  width: 30px;
}
.lrg-icon {
  width: 40px;
  height: 40px;
  color: $dark-blue;
}
.main-icon {
  width: 30px;
  flex-shrink: 0;
  color: $dark-blue;
}
.green {
  color: $primary-color;
}

.icon-grey {
  color: $light-blue;
  width: 30px;
}
.submit-btn {
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  font-weight: 600;
  font-size: 20px;
  width: 10rem;
  height: 5rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background: #dc143c;
  color: white;
  h3 {
    color: $light-grey;
  }
  &:hover {
    background-color: $ultra-light-blue;
    h3 {
      color: #dc143c;
    }
  }
  &:active {
    box-shadow: none;
  }
}

.text-box {
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(1, 1, 1, 0.5);
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mar-bottom-one {
  margin-bottom: 1rem;
}

.flex-break {
  display: flex;
  gap: 5%;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
.padding-hor-md {
  padding: 0 10px;
}
// Dropdown
.form {
  border: 1px solid $border-color;
  padding: 40px;

  &__group {
    margin-bottom: 20px;

    &:focus {
      outline: 0;
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.error {
  font-size: 12px;
  padding: 5px 0;
  color: $error-color;
}

.dropdown {
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px 0 10px;
    font-size: 14px;
    border: 1px solid $border-color;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &::after {
      top: calc(50% - 2px);
      right: 10px;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-top-color: #000;
      border-width: 4px;
      margin-left: -4px;
    }

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    background-color: #fff;
    z-index: 5;

    &_items {
      max-height: 210px;

      overflow-y: auto;
    }

    &_search {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $border-color;
      padding: 12px;
      outline: 0;
      background-color: $bg-color;
    }

    &_item {
      padding: 10px;
      border-bottom: 1px solid $border-color;
      font-size: 14px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: $border-color;
      }

      &.selected,
      &.selected:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .mobile-sm {
    display: none;
  }
}
